.product-container{
    position: relative ;
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 8px;
}
.product img{
    border-radius: 8px;

}
.product-info{
    padding: 8px;
}
.btn-cart{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: aqua;
    border: none;
    position: absolute;
    border-radius: 0 0 8px 8px;
    bottom: 0;
    cursor: pointer;
}